*~
Makefile.local
/*/dropins/systemd/user/containers/*/*.d/user-*.conf
/*/dropins/systemd/user/systemd/*/*.d/user-*.conf
/*/dropins/systemd/root/*/*.d/user-*.conf
/*/home/.config/systemd/user/*.d/*.conf
/*/container/custom-build.sh
/*/container.*/custom-build.sh
/denycheck.awk
/.codex/
/codex.sh
/_local/
