[Unit]
Description=bitwarden container (rootless)
After=network-online.target
Wants=network-online.target

[Container]
Image=localhost/bitwarden:dev
Pull=never
ContainerName=bitwarden
PublishPort=127.0.0.1:@@BITWARDEN_PORT@@:@@BW_PORT_HTTP@@
Volume=@@BITWARDEN_DATA_DIR@@:/etc/bitwarden
Environment=BW_DOMAIN=@@BW_DOMAIN@@
Environment=BW_ENABLE_SSL=@@BW_ENABLE_SSL@@
Environment=BW_PORT_HTTP=@@BW_PORT_HTTP@@
Environment=BW_DB_PROVIDER=@@BW_DB_PROVIDER@@
Environment=BW_DB_SERVER=@@BW_DB_SERVER@@
Environment=BW_DB_PORT=@@BW_DB_PORT@@
Environment=BW_DB_DATABASE=@@BW_DB_DATABASE@@
Environment=BW_DB_USERNAME=@@BW_DB_USERNAME@@
Environment=BW_ENABLE_ADMIN=@@BW_ENABLE_ADMIN@@
Environment=BW_ENABLE_API=@@BW_ENABLE_API@@
Environment=BW_ENABLE_EVENTS=@@BW_ENABLE_EVENTS@@
Environment=BW_ENABLE_ICONS=@@BW_ENABLE_ICONS@@
Environment=BW_ENABLE_IDENTITY=@@BW_ENABLE_IDENTITY@@
Environment=BW_ENABLE_NOTIFICATIONS=@@BW_ENABLE_NOTIFICATIONS@@
Environment=BW_ENABLE_SCIM=@@BW_ENABLE_SCIM@@
Environment=BW_ENABLE_SSO=@@BW_ENABLE_SSO@@
Environment=globalSettings__disableUserRegistration=@@globalSettings__disableUserRegistration@@
EnvironmentFile=@@SERVICE_PATH@@/bitwarden.env-user

[Service]
Restart=on-failure
RestartSec=5
TimeoutStopSec=40

[Install]
WantedBy=default.target
