[Unit]
Description=redmine container (rootless)
After=network-online.target
Wants=network-online.target

[Container]
Image=localhost/redmine:dev
Pull=never
ContainerName=redmine
PublishPort=127.0.0.1:@@REDMINE_PORT@@:3000
Volume=@@NFS_ROOT@@/redmine/files:/usr/src/redmine/files:Z
EnvironmentFile=@@SERVICE_PATH@@/redmine.env-user

[Service]
Restart=on-failure
RestartSec=5
TimeoutStopSec=40

[Install]
WantedBy=default.target
